.mainDiv {
  width: 100%;
  padding: 10px;
  height: 100vh;
  background-color: red;
}
.row {
  margin: 0 !important;
}

.container {
  padding: 10px 5px;
  max-width: 40% !important;
  margin: 80px auto 20px;
  background-color: aqua;
  border-radius: 20px;
}
p {
  text-align: center;
  padding: 2px;
  border: 1px solid black;
  font-weight: bolder;
  font-size: larger;
  color: red;
  background-color: aliceblue;
  border-radius: 20px;
  width: 60%;
  margin: auto;
  margin-bottom: 30px !important;
}
hr {
  border-top: 5px dotted black !important;
  width: 10%;
  margin: 0 auto;
}

ul li {
  list-style: none;
  user-select: none;
  position: relative;
  padding: 0px 8px 0px 35px;
  cursor: pointer;
}
ul li::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(Images/uncheck.png);
  background-size: cover;
  background-position: center;
  top: 12 px;
  left: 5px;
}

ul li.checked {
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(Images/check.png);
}
/* span {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  width: 20px;
  position: absolute;
  right: 55px;
  bottom: 12px;
} */
span {
  text-align: center;
  font-weight: bolder;
  position: absolute;
  right: 20px;
  font-size: 25px;
  bottom: 1px;
  margin: 0 !important;
}
#formDiv {
  background-color: red;
  border-radius: 16px;
  display: flex;
}

#formDiv form {
  display: flex;
  flex-grow: 1;
}
#formDiv input {
  font-weight: bold;
  border: none;
  border-radius: 16px;
  flex-grow: 1;
  padding: 2px 10px;
  background-color: transparent;
}
#formDiv button {
  border: 0.1px solid black;
  border-radius: 20px;
  font-weight: bolder;
}
